<%= content_for :title, "Manage News" %>

<%= link_to "New News Item", new_news_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <th>Category</th>
    <th>Content</th>
    <th></th>
  </thead>

  <tbody>
    <% @categorised_news.each do |category, news| %>
      <% news.each do |news_item| %>
        <tr>
          <td><%= category %></td>
          <td><%= render partial: "news/news_item", object: news_item %></td>
          <td><%= link_to 'Delete', news_path(news_item), method: :delete, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
