<%= content_for :title, 'Latest News' %>
<%= content_for :title_image, image_tag('news.jpg') %>

<ul class="news-items">
  <% @categorised_news_items.each do |category, news_items| %>
    <li class="news-category <%= category_as_class_name category %>">
      <h2 class="category-name"><%= category %></h2>
      <% news_items.each do |news_item| %>
        <%= render partial: 'news/news_item', object: news_item, locals: { admin: false } %>
      <% end %>
    </li>
  <% end %>
</ul>
