<%= content_for :title, 'Latest News' %>
<%= content_for :title_image, image_tag('news.jpg') %>

<ul class="news-items">
  <% if logged_in? %>
    <%= link_to 'New News Item', new_news_path, class: 'btn btn-primary' %>
  <% end %>

  <% @categorised_news_items.each do |category, news_items| %>
    <li class="news-category <%= category_as_class_name category %>">
      <h2 class="category-name"><%= category %></h2>
      <% news_items.each do |news_item| %>
        <article class="news-item">
          <div class="content">
            <%= raw Redcarpet::Markdown.new(Redcarpet::Render::XHTML).render(news_item.content) %>
          </div>

          <% unless news_item.image_path.blank? %>
            <%= image_tag news_item.image_path %>
          <% end %>

          <% if logged_in? %>
            <%= link_to 'Delete', news_path(news_item), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </article>
      <% end %>
    </li>
  <% end %>
</ul>
