<%= content_for :title, "Manage News" %>

<ul class="news-items">
  <%= link_to "New News Item", new_news_path, class: "btn btn-primary" %>
  <%= link_to "Sign out", session_path('current'), class: "btn btn-danger", method: :delete %>

  <% @categorised_news.each do |category, news| %>
    <li class="news-category <%= category_as_class_name category %>">
      <h2 class="category-name"><%= category %></h2>
      <% news.each do |news_item| %>
        <%= render partial: "news/news_item", object: news_item, locals: { admin: true } %>
      <% end %>
    </li>
  <% end %>
</ul>
