<%= content_for :title, 'Latest News' %>
<%= content_for :title_image, image_tag('news.jpg') %>

<% if flash[:notice] %>
  <div class="success">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<%= link_to 'New News Item', new_news_path %>

<ul class="news-items">
  <% @categorised_news_items.each do |category, news_items| %>
    <li class="news-category <%= category_as_class_name category %>">
      <h2 class="category-name"><%= category %></h2>
      <% news_items.each do |news_item| %>
        <article class="news-item">
          <%= raw Redcarpet::Markdown.new(Redcarpet::Render::XHTML).render(news_item.content) %>
          <% unless news_item.image_path.blank? %>
            <img src="<%= news_item.image_path %>" alt="" />
          <% end %>
        </article>
      <% end %>
    </li>
  <% end %>
</ul>
