<%= content_for :title, 'Latest News' %>
<%= content_for :title_image, image_tag('news.jpg') %>

<%= form_for @news_item, url: news_path(@news_item) do |f| %>
  <div class="input">
    <%= f.label :category %>
    <%= f.select :category, NewsItem::CATEGORIES %>
  </div>

  <div class="input">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="button">
    <%= f.submit "Save and Publish" %>
  </div>
<% end %>
