<%= content_for :title, 'Manage News Items' %>
<%= content_for :title_image, image_tag('news.jpg') %>

<div class="sign-out">
  <%= link_to 'Sign out', session_path('current'), method: 'delete', class: 'btn btn-warning' %>
</div>

<ul class="news-items">
  <h1>Manage News Items</h1>

  <%= link_to 'New News Item', new_news_path, class: 'btn btn-primary' %>

  <% @categorised_news_items.each do |category, news_items| %>
    <li class="news-category <%= category_as_class_name category %>">
      <h2 class="category-name"><%= category %></h2>
      <% news_items.each do |news_item| %>
        <%= render partial: 'news/news_item', object: news_item, locals: { admin: true } %>
      <% end %>
    </li>
  <% end %>
</ul>

<ul class="galleries">
  <h1>Manage Galleries</h1>

  <%= link_to 'New Piece of Jewellery', new_jewellery_path, class: 'btn btn-primary' %>
  <% @categorised_jewellery.each do |gallery, jewelleries| %>
    <li class="gallery">
      <h2 class="gallery-name"><%= gallery %></h2>
      <ul class="jewelleries">
        <% jewelleries.each do |jewellery| %>
          <li class="jewellery">
            <article class="jewellery-piece">
              <h3 class="jewellery-name"><%= jewellery.name %></h3>
              <div class="description-delete">
                <p><%= jewellery.description %></p>
                <%= link_to 'Edit', edit_jewellery_path(jewellery), class: 'btn btn-warning' %>
                <%= link_to 'Delete', jewellery_path(jewellery), method: :delete, class: 'btn btn-danger' %>
              </div>
              <img alt="<%= jewellery.name %>" src="<%= jewellery.image_path %>" />
            </article>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
