<%= content_for :title, 'Latest News' %>
<%= content_for :title_image, image_tag('news.jpg') %>

<h2 id="stockists">Stockists</h2>
<p>
  'Supplier’ - Red Barn Gallery. Melkinthorpe, Penrith, Cumbria, CA10 2DR. Tel 01931 712 767
  <br/>
  <%= mail_to 'info@redbarngallery.co.uk' %> -
  <%= link_to 'redbarngallery.co.uk', 'http://www.redbarngallery.co.uk' %>
</p>

<h2 id="events_and_exhibitions">Events and Exhibitions</h2>
<p>
  <%= link_to 'Craftsmanship and Design Awards', 'http://www.craftanddesigncouncil.org.uk/awards.html' %>
  2011 Exhibition Goldsmiths’ Hall, Foster Lane, London, EC2V 6BN. March 2011
</p>

<p>
  'Spirit’ exhibition at Heart Gallery, The Arts Centre, Hebden Bridge, North Yorkshire.
  23rd September - 31st October 2012.
</p>

<p>
  Great Northern Contemporary Craft Fair 2012 in Hardman Square, Spinningfields, Manchester.
  4th - 7th October.
  <%= link_to 'greatnorthernevents.co.uk', 'http://www.greatnorthernevents.co.uk' %>
</p>

<p>
  Stockport Designer Crafts Show 2012 at Stockport Art Gallery, Wellington Road South, Stockport.
  24th November - 27th January.
</p>

<p>Christmas Craft Market at The Brewery Arts Centre, Kendal, Cumbria. 30th November - 2nd December 2012.</p>

<h2 id="awards">Awards</h2>
<p>
  Goldsmiths’ Craft and Design Council. Craftsmanship and Design Awards 2011.
  'Commended’ for Fashion Jewellery Production.
</p>

<p>
  Goldsmiths’ Craft and Design Council. Craftsmanship and Design Awards 2005.
  'Commended’ for 3D production jewellery.
</p>

<p>
  Goldsmiths’ Council. Craftsmanship and Design Awards 2003. 'Silver’ for finished pieces.
</p>

<p>
  British Jewellers’ Association, 2002, Certificate of Merit for Higher National
  Diploma in Jewellery and Silversmithing, 2nd year student – 1st prize.
</p>

<p>
  B.J.A. 2001, Commendation Award for H.N.D. in Jewellery and Silversmithing, 1st year student.
</p>

<p>
  B.J.A. 2001, Awarded the travel bursary.
</p>

<p>
  Arthur Price of England Design Competition 2001, 1st prize for designing
  a bowl, which was produced and sold by the Arthur Price Company.
</p>

<h2 id="press">Press</h2>
<p>
  <%= link_to image_path 'the_guide.jpg' do %>
    <%= image_tag 'the_guide.jpg', alt: 'The Guide Magazine' %>
  <% end %>
</p>
