<%= form_for @jewellery do |f| %>
  <% unless @jewellery.errors.empty? %>
    <h2>Errors:</h2>
    <ul class="errors">
      <% @jewellery.errors.messages.each do |field, messages| %>
        <li class="error">
          <p><%= field.capitalize %>: <%= messages.join(', ') %></p>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="input">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="input">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="input">
    <%= f.label :gallery %>
    <%= f.select :gallery, Gallery.all_names %>
  </div>

  <div class="input">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="button">
    <%= f.submit "Save and Publish", class: 'btn btn-primary' %>
  </div>
<% end %>
