<li class="jewellery-piece">
  <%= image_tag 'gallery/g1.1.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">
    Oval Citrine set in 18ct yellow gold, fine silver embossed bird pendant on
    18ct yellow gold chain
  </p>
  <%= image_tag 'gallery/rev_bird22.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Round Peridot, fine silver textured bird pendant on silver chain</p>
  <%= image_tag 'gallery/rev_bird33.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Oval Peridot, fine silver textured bird pendant on hand platted silk.</p>
  <%= image_tag 'gallery/rev_bird44.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Round Peridot and fine silver earrings</p>
  <%= image_tag 'gallery/rev_bird55.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Sterling silver long necklace</p>
  <%= image_tag 'gallery/g1.3.jpg' %>
</li>
