<li class="jewellery-piece">
  <p class="description">Oxidised silver and Labradorite cloud pendants.</p>
  <%= image_tag 'gallery/weather/C19-C27.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Oxidised silver and Labradorite cloud pendant.</p>
  <%= image_tag 'gallery/weather/C26.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Oxidised silver and oval Labradorite ring.</p>
  <%= image_tag 'gallery/weather/C20.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Oxidised silver and oval Labradorite drop necklace.</p>
  <%= image_tag 'gallery/weather/C29.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Oxidised silver and oval Labradorite cloud pendant.</p>
  <%= image_tag 'gallery/weather/C15.jpg' %>
</li>

<li class="jewellery-piece">
  <p class="description">Silver, 18ct yellow gold and Citrine cloud pendant.</p>
  <%= image_tag 'gallery/weather/C28.jpg' %>
</li>
