<li class="jewellery-piece">
  <p>Silver acorn with enamel oak leaf pendant</p>
  <%= image_tag 'gallery/DSCF0159-copy.jpg' %>
</li>

<li class="jewellery-piece">
  <p>Silver acorn pendant</p>
  <%= image_tag 'gallery/DSCF0182-copy.jpg' %>
</li>

<li class="jewellery-piece">
  <p>Silver studs</p>
  <%= image_tag 'gallery/DSCF0189-copy.jpg' %>
</li>

<li class="jewellery-piece">
  <p>Silver and enamel necklace</p>
  <%= image_tag 'gallery/DSCF0176-copy.jpg' %>
</li>

<li class="jewellery-piece">
  <p>Silver and enamel lapel pin</p>
  <%= image_tag 'gallery/DSCF0186-copy.jpg' %>
</li>
