<%= content_for :title, "#{params[:id].titleize} | Gallery" %>
<%= content_for :title_image, image_tag('gallery.jpg') %>

<ul class="gallery">
  <% @jewelleries.each do |jewellery| %>
    <li class="jewellery-piece">
      <p><%= jewellery.description %></p>
      <%= image_tag jewellery.image_path, alt: jewellery.name %>
    </li>
  <% end %>

  <p><%= link_to 'Back to gallery', galleries_path %></p>
</ul>
