<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= link_to root_path do %>
    <%= yield :title_image %>
  <% end %>

  <nav>
    <ul>
      <%= raw navigation 'About'       => root_path,
                         'Gallery'     => galleries_path,
                         'Latest News' => news_index_path,
                         'Contact'     => contact_path,
                         'Links'       => links_path %>

      <% if session[:user_id] %>
        <li>
          <%= link_to 'Sign out', session_path('current'), method: 'delete' %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>

<% if flash.notice %>
  <div class="success">
    <p><%= flash.notice %></p>
  </div>
<% end %>

<div class="content <%= controller.controller_name %> <%= controller.action_name.gsub('_', '-') %>">
  <%= yield %>
</div>

<% if Rails.env.production? %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27877862-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end %>
</body>
</html>
